<!DOCTYPE html>
<html>
<head>
  <title>SalesforceApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCglCx9bZ-l_3vXHdN8qkc6pglKSO7W4pY&sensor=true">
   </script>
</head>
<body>

<%= yield %>

</body>
</html>
